{% extends '_layout' %}
{% set title = 'Server Error: 404 (Page not found)' %}
{% block content %}
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 l12 center-align">
						<h1><a href="/" title="{{ siteName }}"><img src="/assets/img/delaneymethod.png" alt="{{ siteName }} logo" width="140px"></a></h1>
						<h3>Server Error: 404 (Page not found)</h3>
						<h4>What does this mean?</h4>
						<p>We couldn&#39;t find the page you requested on our servers.</p>
						<p>We&#39;re really sorry about that. It&#39;s our fault, not yours.</p>
						<p>We&#39;ll work hard to get this page back online as soon as possible.</p>
						<p>Perhaps you would like to go <a href="javascript:window.history.back();" title="Back" style="color:#ad1457;">back</a> or go to our <a href="/" title="Home" style="color:#ad1457;">homepage</a> ?</p>
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
		</section>
		<section class="section">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 l12 center-align">
						<p>&copy; {{ now.year }} {{ siteName }}, All rights reserved.{% if general.companyNumber is defined and general.companyNumber | length %} Company&nbsp;#&nbsp;{{ general.companyNumber }}{% endif %}{% if general.vatNumber is defined and general.vatNumber | length %}&nbsp;&bullet;&nbsp;VAT&nbsp;#&nbsp;{{ general.vatNumber }}{% endif %}</p>
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
		</section>
{% endblock %}
