<!doctype html>
<html lang="en-IE">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="author" content="Sean Delaney">
	<meta name="description" content="{{ siteName }} is a Full-Stack Web Development studio located in {{ general.location }}.">
	<meta name="keywords" content="full, stack, web, software, development, studio, {{ general.location }}, {{ siteName }}">
	<meta name="robots" content="index, follow, archive">
	<meta property="og:title" content="{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}">
	<meta property="og:locale" content="en_IE">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="{{ siteName }}">
	<meta property="og:url" content="{{ siteUrl }}">
	<meta property="og:description" content="{{ siteName }} is a Full-Stack Web Development studio located in {{ general.location }}.">
	<meta property="og:see_also" content="http://twitter.com/{{ general.twitterUsername }}">
	<meta property="og:see_also" content="http://uk.linkedin.com/in/{{ general.linkedInUsername }}">
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:site" content="@{{ general.twitterUsername }}">
	<meta property="twitter:creator" content="@{{ general.twitterUsername }}">
	<meta property="twitter:title" content="Sean Delaney">
	<meta property="twitter:description" content="Full-Stack Web Developer with a no-nonsense, get it done attitude and a solid reputation for delivering my part of the project." />
	<meta property="twitter:image" content="https://pbs.twimg.com/profile_images/791697107229040640/81LIN8Kq_400x400.jpg">
	<!--[if IE]>
	<meta http-equiv="cleartype" content="on">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<![endif]-->
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}">
	<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
	{% include '_styles' %}
	<link rel="shortcut icon" href="{{ baseAssetsUrl }}img/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="{{ baseAssetsUrl }}img/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ baseAssetsUrl }}img/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ baseAssetsUrl }}img/apple-icon-144x144.png">
	<link rel="dns-prefetch" href="{{ siteUrl }}">
	<link rel="dns-prefetch" href="//www.google-analytics.com">
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="author" href="humans.txt" type="text/plain">
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-93160833-1', 'auto');
	ga('send', 'pageview', '{{ "user_" ~ now | date("dmY_His") }}');
	ga('set', 'userId', '{{ "user_" ~ now | date("dmY_His") }}');
	</script>
</head>
<body>
	{% include '_header' %}
