						<div class="row project">
							{% set projectImage = entry.logo.first() %}
							{% if projectImage is defined and projectImage | length %}
							<div class="col s12 m4 l4">
								<img class="responsive-img logo" src="{{ projectImage.url }}" alt="{{ entry.title }} Logo">
							</div><!-- END .col //-->
							{% endif %}
							<div class="col s12 m8 l8">
								<h4 class="uppercase">{{ entry.title }}</h4>
								{% if entry.leadParagraph is defined and entry.leadParagraph | length %}
								<p class="lead">{{ entry.leadParagraph }}</p>
								{% endif %}
								{{ entry.bodyText }}
								{% if entry.technologyStack is defined and entry.technologyStack | length %}
								<ul class="stack">
									{% for technology in entry.technologyStack %}
									<li class="chip">{{ technology }}</li>
									{% endfor %}
								</ul>
								{% endif %}
								{% if entry.website is defined and entry.website | length %}
								<p><a class="btn teal" href="{{ entry.website }}" title="{{ entry.title }}" target="_blank" onclick="ga('send', 'event', 'link', 'Clicked', 'Visit {{ entry.title }} - {{ "user_" ~ now | date("dmY_His") }}', 103, {'nonInteraction': true});">Visit {{ entry.title }}&nbsp;<i class="material-icons">arrow_forward</i></a></p>
								{% endif %}
							</div><!-- END .col //-->
						</div><!-- END .row //-->
						<div class="row-spacer"></div>
