{% extends '_layout' %}
{% block content %}
		<section class="section parallax-container" id="intro">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 l12 white-text center-align valign-wrapper">
						<div class="valign">
							<h1><a href="/" title="{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}"><img class="delaneymethod-logo" src="{{ baseAssetsUrl }}img/delaneymethod.png" alt="{{ siteName }} Logo"></a></h1>
							{% if entry.heroHeading is defined and entry.heroHeading | length %}
							<h2>{{ entry.heroHeading }}</h2>
							{% endif %}
							{% if entry.heroCallToActionLabel is defined and entry.heroCallToActionLabel | length %}
							<a class="btn btn-large teal" href="javascript:void(0);" title="Find Out More" data-scroll-to="about-us" onclick="ga('send', 'event', 'button', 'Clicked', 'Find out more - {{ "user_" ~ now | date("dmY_His") }}', 100, {'nonInteraction': true});"><i class="material-icons">arrow_downward</i>&nbsp;{{ entry.heroCallToActionLabel }}</a>
							{% endif %}
						</div>
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
			{% set heroImage = entry.heroImage.first() %}
			{% if heroImage is defined and heroImage | length %}
			<div class="parallax">
				<img src="{{ heroImage.url }}">
			</div>
			{% endif %}
		</section>
		<section class="section" id="about-us">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 offset-l1 l10 center-align">
						{% if entry.whatWeDoHeading is defined and entry.whatWeDoHeading | length %}
						<h3 class="uppercase">{{ entry.whatWeDoHeading }}</h3>
						{% endif %}
						{% if entry.whatWeDoLeadParagraph is defined and entry.whatWeDoLeadParagraph | length %}
						<p class="lead">{{ entry.whatWeDoLeadParagraph }}</p>
						{% endif %}
						{{ entry.whatWeDoBodyTextTop }}
						{% if entry.whatWeDoService is defined and entry.whatWeDoServices | length %}
						<div class="row">
							{% for service in entry.whatWeDoServices %}
							<div class="col s12 m4 l4">
								{% if service.heading is defined and service.heading | length %}
								<h4>{{ service.heading }}</h4>
								{% endif %}
								{{ service.bodyText }}
							</div><!-- END .col //-->
							{% endfor %}
						</div><!-- END .row //-->
						{% endif %}
						{{ entry.whatWeDoBodyTextBottom }}
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
		</section>
		{% set communities = craft.entries.section('onlineCommunity').find() %}
		{% if communities | length %}
		<section class="section parallax-container" id="online-communities">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 offset-l2 l8 center-align">
						{% if entry.onlineCommunitiesHeading is defined and entry.onlineCommunitiesHeading | length %}
						<h3 class="uppercase">{{ entry.onlineCommunitiesHeading }}</h3>
						{% endif %}
						<div class="row">
							{% for community in communities %}
							<div class="col s12 m12 l4">
								{% set communityImage = community.image.first() %}
								{% if communityImage is defined and communityImage | length %}
								<p><a href="{{ community.profileUrl }}" title="{{ community.description }}" target="_blank" onclick="ga('send', 'event', 'link', 'Clicked', '{{ community.title }} - {{ "user_" ~ now | date("dmY_His") }}', 101, {'nonInteraction': true});"><img class="z-depth-5" src="{{ communityImage.url }}" alt="{{ community.title }}"></a></p>
								{% endif %}
							</div><!-- END .col //-->
							{% endfor %}
						</div><!-- END .row //-->
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
			{% set onlineCommunitiesImage = entry.onlineCommunitiesImage.first() %}
			{% if onlineCommunitiesImage is defined and onlineCommunitiesImage | length %}
			<div class="parallax">
				<img src="{{ onlineCommunitiesImage.url }}">
			</div>
			{% endif %}
		</section>
		{% endif %}
		{% if entry.whatMakesUsDifferentValues is defined and entry.whatMakesUsDifferentValues | length %}
		<section class="section" id="what-makes-us-different">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 offset-l1 l10">
						{% if entry.whatMakesUsDifferentHeading is defined and entry.whatMakesUsDifferentHeading | length %}
						<h3 class="uppercase center-align">{{ entry.whatMakesUsDifferentHeading }}</h3>
						{% endif %}
						<div class="row">
							{% if entry.whatMakesUsDifferentValues.type('valuesLeft') is defined and entry.whatMakesUsDifferentValues.type('valuesLeft') | length %}
							<div class="col s12 m6 l6">
								<ul>
									{% for value in entry.whatMakesUsDifferentValues.type('valuesLeft') %}
									<li><i class="material-icons">check_box</i>&nbsp;{{ value.valueTitle }}</li>
									{% endfor %}
								</ul>
							</div>
							{% endif %}
							{% if entry.whatMakesUsDifferentValues.type('valuesRight') is defined and entry.whatMakesUsDifferentValues.type('valuesRight') | length %}
							<div class="col s12 m6 l6">
								<ul>
									{% for value in entry.whatMakesUsDifferentValues.type('valuesRight') %}
									<li><i class="material-icons">check_box</i>&nbsp;{{ value.valueTitle }}</li>
									{% endfor %}
								</ul>
							</div>
							{% endif %}
						</div><!-- END .row //-->
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
		</section>
		{% endif %}
		{% include '_recommendations' with { ids: [82, 83] } %}
		<section class="section" id="our-toolkit">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 offset-l1 l10 center-align">
						{% if entry.ourToolkitHeading is defined and entry.ourToolkitHeading | length %}
						<h3 class="uppercase">{{ entry.ourToolkitHeading }}</h3>
						{% endif %}
						{% if entry.ourToolkitBodyText is defined and entry.ourToolkitBodyText | length %}
						{{ entry.ourToolkitBodyText }}
						{% endif %}
						{% if entry.ourToolkitSkill is defined and entry.ourToolkitSkill | length %}
						<div class="row">
							{% for block in entry.ourToolkitSkill.type('technologyStack') %}
							<div class="col s12 m3 l3">
								<ul>
									{% for technology in block.technologyStack %}
									<li class="chip">{{ technology }}</li>
									{% endfor %}
								</ul>
							</div><!-- END .col //-->
							{% if loop.index % 4 == 0 %}
							<div class="row"></div>
							{% endif %}
							{% endfor %}
						</div><!-- END .row //-->
						{% endif %}
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
		</section>
		{% if entry.contactUsHeading is defined and entry.contactUsHeading | length %}
		<section class="section parallax-container" id="contact-us">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 offset-l2 l8 center-align">
						<h3 class="uppercase">{{ entry.contactUsHeading }}</h3>
						<div class="row">
							{% if general.telephoneNumber is defined and general.telephoneNumber | length %}
							<div class="col s12 m6 l6">
								<h4><a href="tel:{{ general.telephoneNumber }}" title="Call us">{{ general.telephoneNumber }}</a></h4>
							</div><!-- END .col //-->
							{% endif %}
							{% if general.emailAddress is defined and general.emailAddress | length %}
							<div class="col s12 m6 l6">
								<h4><a href="mailto:{{ general.emailAddress }}" title="Email us" oncopy="ga('send', 'event', 'text', 'Copied', '{{ general.emailAddress }} - {{ "user_" ~ now | date("dmY_His") }}', 102, {'nonInteraction': true});">{{ general.emailAddress }}</a></h4>
							</div><!-- END .col //-->
							{% endif %}
						</div><!-- END .row //-->
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
			{% set contactUsImage = entry.contactUsImage.first() %}
			{% if contactUsImage is defined and contactUsImage | length %}
			<div class="parallax">
				<img src="{{ contactUsImage.url }}">
			</div>
			{% endif %}
		</section>
		{% endif %}
		{% set featuredProjects = craft.entries.section('project').featured('1').order('position').find() %}
		{% if featuredProjects | length %}
		<section class="section" id="featured-projects">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 offset-l2 l8">
						{% if entry.featuredProjectsHeading is defined and entry.featuredProjectsHeading | length %}
						<h3 class="uppercase center-align">{{ entry.featuredProjectsHeading }}</h3>
						{% endif %}
						{% for project in featuredProjects %}
							{% include '_project' with { entry: project } %}
						{% endfor %}
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
		</section>
		{% endif %}
		{% if entry.trustedHeading is defined and entry.trustedHeading | length %}
		<section class="section parallax-container" id="trusted">
			<div class="container">
				<div class="row">
					<div class="col offset-s1 s10 offset-m1 m10 l12 center-align">
						<h3 class="uppercase">{{ entry.trustedHeading }}</h3>
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			<div>
		</section>
		{% endif %}
		{% set projects = craft.entries.section('project').featured('not 1').order('position').find() %}
		{% if projects | length %}
		<section class="section" id="featured-projects">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 offset-l2 l8">
						{% for project in projects %}
							{% include '_project' with { entry: project } %}
						{% endfor %}
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
		</section>
		<div class="divider"></div>
		{% endif %}
		{% if entry.butTheresMoreBodyText is defined and entry.butTheresMoreBodyText | length %}
		<section class="section" id="but-theres-more">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 l12 center-align">
						<h3 class="uppercase">{{ entry.butTheresMoreHeading }}</h3>
						{{ entry.butTheresMoreBodyText }}
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
		</section>
		{% endif %}
		{% include '_recommendations' with { ids: [84, 85] } %}
		{% set spacerImage = entry.spacerImage.first() %}
		{% if spacerImage is defined and spacerImage | length %}
		<section class="section parallax-container" id="spacer">
			<div class="parallax">
				<img src="{{ spacerImage.url }}">
			</div>
		</section>
		{% endif %}
		<section class="section" id="request-call-back">
			<div class="container">
				<div class="row">
					<div class="col s12 m12 l12 center-align">
						{% if entry.requestACallbackHeading is defined and entry.requestACallbackHeading | length %}
						<h3 class="uppercase">{{ entry.requestACallbackHeading }}</h3>
						{% endif %}
						{{ entry.requestACallbackBodyText }}
						{% macro errorList(errors) %}
							{% if errors %}
								{% for error in errors %}
								<div style="margin-top: -10px;" class="red-text">{{ error }}</div>
								{% endfor %}
							{% endif %}
						{% endmacro %}
						{% from _self import errorList %}
						{% if craft.request.getQuery('thanks') is defined and craft.request.getQuery('thanks') | length %}
							<div class="row thanks">
								<div class="col s12 m12 l12">
									<h4 class="green-text text-darken-2 uppercase center-align">Thank You</h4>
									<p class="lead green-text">Your callback request was submitted successfully!</p>
								</div><!-- END .col //-->
							</div><!-- END .row //-->
						{% endif %}
					</div><!-- END .col //-->
				</div><!-- END .row //-->
				<div class="row">
					<div class="col s12 offset-m1 m10 offset-l2 l8">
						<form method="POST" action="" accept-charset="UTF-8">
							{{ getCsrfInput() }}
							<input type="hidden" name="action" value="contactForm/sendMessage">
    						<input type="hidden" name="redirect" value="/?thanks=1">
							<div class="row">
								<div class="col s12  m6 l6 input-field">
									<input class="validate truncate" id="firstName" name="message[firstName]" type="text" value="{% if message is defined %}{{ message[firstName] }}{% endif %}" placeholder="e.g. Sean" required>
									<label for="firstName" class="active" data-error="wrong"><span class="truncate">First Name:</span></label>
								</div><!-- END .col //-->
								<div class="col s12  m6 l6 input-field">
									<input class="validate truncate" id="lastName" name="message[lastName]" type="text" value="{% if message is defined %}{{ message[lastName] }}{% endif %}" placeholder="e.g. Delaney" required>
									<label for="lastName" class="active" data-error="wrong"><span class="truncate">Last Name:</span></label>
								</div><!-- END .col //-->
								<div class="col s12  m6 l6 input-field">
									<input class="validate truncate" id="fromEmail" name="fromEmail" type="email" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}" placeholder="e.g. hello@delaneymethod.com" required>
									<label for="fromEmail" class="active" data-error="wrong"><span class="truncate">Email Address:</span></label>
								</div><!-- END .col //-->
								<div class="col s12  m6 l6 input-field">
									<input class="validate truncate" id="telephoneNumber" name="message[telephoneNumber]" type="text" value="{% if message is defined %}{{ message[telephoneNumber] }}{% endif %}" placeholder=".e.g. +44 7889571206" required>
									<label for="telephoneNumber" class="active" data-error="wrong"><span class="truncate">Telephone Number:</span></label>
								</div><!-- END .col //-->
								<div class="col s12  m12 l12 input-field">
									<textarea class="materialize-textarea flow-text" id="message" name="message[body]" placeholder="e.g. Details of your enquiry" required>{% if message is defined %}{{ message.message }}{% endif %}</textarea>
									<label for="message" class="active" data-error="wrong"><span class="truncate">Message:</span></label>
								</div><!-- END .col //-->
								<div class="col s12  m12 l12 center-align input-field">
									<button class="btn btn-large teal" id="submit" name="submit" type="submit"><i class="material-icons">message</i>&nbsp;Send Message</button>
								</div><!-- END .col //-->
							</div><!-- END .row //-->
						</form>
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
		</section>
		{% if entry.reliableHeading is defined and entry.reliableHeading | length %}
		<section class="section" id="reliable">
			<div class="container">
				<div class="row">
					<div class="col offset-s1 s10 offset-m1 m10 l12 center-align">
						<h3 class="uppercase">{{ entry.reliableHeading }}</h3>
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
		</section>
		{% endif %}
		<ul class="side-nav uppercase center-align" id="nav-mobile">
			<li>
				<div class="row">
					<div class="col valign-wrapper">
						<div class="valign">
							<img class="delaneymethod-logo" src="/assets/img/delaneymethod.png" alt="{{ siteName }} Logo">
							<a class="delaneymethod-name" href="javascript:void(0);" title="{{ siteName }}" data-scroll-to="intro">{{ siteName }}</a>
						</div>
					</div>
				</div>
			</li>
			<li><a href="javascript:void(0);" title="What We Do" data-scroll-to="about-us">About Us</a></li>
			<li><a href="javascript:void(0);" title="Featured Projects" data-scroll-to="featured-projects">Portfolio</a></li>
			<li><a href="javascript:void(0);" title="Request a Callback" data-scroll-to="request-call-back">Contact</a></li>
			<li><a class="modal-trigger" href="#terms" title="Terms of Business">Terms of Business</a></li>
		</ul>
		<div class="modal modal-fixed-footer" id="terms">
			<div class="modal-content">
				<div class="row">
					<div class="col s12 m12 l12">
						<h3 class="uppercase center-align">Our Standard Terms and Conditions of Business.</h3>
						<h4 class="uppercase"><abbr title="too long; didn't read">TL;DR</abbr></h4>
						<p>Be fair to us and we&#39;ll be fair to you. We try to provide the best service we can and we expect you to be the best customer you can. Let the good times roll.</p>
						<h4 class="uppercase">Payment</h4>
						<p>{{ siteName }} invoice electronically and standard payment terms are 30 days from the invoice date. All proposals are quoted in &pound;GBP and payments are to be made electronically.</p>
						<h4 class="uppercase">VAT</h4>
						<p>{{ siteName }} is a VAT registered company. Unless clearly stated otherwise, estimates quoted by DelaneyMethod will be subject to VAT.</p>
						<h4 class="uppercase">Remedies for Overdue Payment</h4>
						<p>If payment has not been received 15 days after the due date, DelaneyMethod has the right to suspend ongoing work for client until full payment of the outstanding balance has been received. DelaneyMethod reserves the right to remove or take down work if payment has not been received 30 days after the due date.</p>
						<h4 class="uppercase">Offers and Proposals</h4>
						<p>Offers and proposals made by {{ siteName }} should be treated as confidential information and remain the property of {{ siteName }}. Such offers and proposals or the information contained within them must not be passed to third parties. All proposals are valid for 30 days from the issue date.</p>
						<h4 class="uppercase">Trade Secrets</h4>
						<p>Any code that is not freely accessible to third parties and not in the public domain, and to which {{ siteName }} or their suppliers owns the copyright, may not be copied, published or distributed without prior written consent from {{ siteName }}. Information passed in written form to {{ siteName }}, and that the client has indicated is confidential or a trade secret, will not be published or made available in any other way to third parties without the prior written consent of the client.</p>
						<h4 class="uppercase">Supplied Content</h4>
						<p>Clients will obtain all the necessary permissions and authorities in respect of the use of all copy, graphic images, photography, company logos, names and trademarks or any other material it supplies to {{ siteName }} for inclusion on the website or in other marketing material.</p>
						<h4 class="uppercase">Browser Support</h4>
						<p>Websites will be built to work in all browsers (e.g. Internet Explorer 9) that are used by over 5% of the client website audience at the time a project begins. Support for additional browsers (e.g. older or mobile) must be agreed before work commences.</p>
						<h4 class="uppercase">CONSEQUENTIAL LOSS</h4>
						<p>Under no circumstances will {{ siteName }} be responsible or liable for any consequential, indirect or special damages caused by the failure or use or misuse of its software. {{ siteName }} shall not in any way be liable to the client for any inaccuracies, errors or omissions, regardless of cause in the work or for any damages (whether direct or indirect) resulting therefrom.</p>
						<h4 class="uppercase">Insurance</h4>
						<p>{{ siteName }} is covered by professional indemnity and public liability insurance policies.</p>
						<h4 class="uppercase">Right to Terminate</h4>
						<p>{{ siteName }} reserves the right to refuse or break a contract without prior notice, if it is believed that the client, their website, or any material is illegal, immoral or otherwise deems to be unacceptable.</p>
						<h4 class="uppercase">{{ siteName }} as a Subcontractor</h4>
						<p>Definitions for ‘{{ siteName }} as a Subcontractor’:</p>
						<ul>
							<li>End client - the project owner and prime client</li>
						</ul>
						<p>Direct client - our immediate client and the contractor of {{ siteName }} Where {{ siteName }} is contracted on a project the following terms also apply:</p>
						<ul>
							<li>{{ siteName }} will have no contact with the end client without authorisation from the direct client.</li>
							<li>Project work is to be approved by the direct client unless agreed otherwise.</li>
							<li>The end client should be made aware of {{ siteName }}’s involvement and our responsibilities on the project by the direct client.</li>
							<li>Should the end client approach {{ siteName }} for any additional future work, this will be referred back to the direct client.</li>
							<li>{{ siteName }} is allowed to publicise the work done on the project with the following conditions:
								<ul>
									<li>The direct client should be credited as the ‘project owner’. I.e. Client: [DIRECT CLIENT] for [END CLIENT].</li>
									<li>{{ siteName }}’s responsibilities should be clearly defined, e.g. (e.g design, build, strategy, etc.).</li>
									<li>Detailed descriptions of the work will be subject to approval by the direct client.</li>
								</ul>
							</li>
						</ul>
						<h4 class="uppercase">Govering Law and Jurisdiction</h4>
						<p>These terms and conditions shall be governed by and construed in all respects in accordance with the laws of the United Kingdom and each party submits to the exclusive jurisdiction of the British Courts. {{ siteName }} is a Limited Company registered in England and Wales.</p>
					</div><!-- END .col //-->
				</div><!-- END .row //-->
			</div>
			<div class="modal-footer">
				<a class="modal-action modal-close btn-flat" href="javascript:void(0);" title="Agree">Agree</a>
			</div>
		</div>
	</main>
{% endblock %}
